body{

 
background-color: rgb(189, 187, 187);
color: rgb(4, 8, 7);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
margin: 20px;
text-align: center;
}
 

header{
background-color: rgb(255, 255, 255);
color: rgb(238, 238, 238);

}

nav{
display: flex;
justify-content: center;
background-color: rgb(10, 10, 10);
padding: 5;
}

nav a{
color: lightskyblue;
text-decoration: none;

}


nav a:hover{
 color: rgb(253, 253, 253);
 text-decoration: none;
 cursor: crosshair;
}


section{
    margin: 40px
}
 
section{
}

footer{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: fixed;
    padding: 10px;
    bottom: 0;
    width:100%;
}